{% extends 'base.html' %} {% block title %} Edit User {% endblock %} {% block
content %}
<form action="" method="POST">
  <div class="form-group">
    <label for="first-name">
      First Name
    </label>
    <input type="text" name="first-name" value="{{user.first_name}}" />
  </div>
  <div class="form-group">
    <label for="last-name">
      Last Name
    </label>
    <input type="text" name="last-name" value="{{user.last_name}}" />
  </div>
  <div class="form-group">
    <label for="img-url">
      Image URL
    </label>
    <input type="text" name="img-url" value="{{user.img_URL}}" />
  </div>
  <a href="/users/{{user.id}}" class="btn btn-outline-success">Cancel</a>
  <button type="submit" class="btn btn-success">Save</button>
</form>
{% endblock %}
