{% extends 'base.html' %} {% block title %} Add Post for {{user.first_name}}
{{user.last_name}} {% endblock %} {% block content %}
<form action="" method="POST">
  <div class="form-group">
    <label for="title">
      Title
    </label>
    <input type="text" name="title" id="title" />
  </div>
  <div class="form-group">
    <label for="content">
      Content
    </label>
    <textarea name="content" id="content" cols="30" rows="10"></textarea>
  </div>
  {% for tag in tags %}
  <label for="{{ tag.name }}">
    {{ tag.name }}
  </label>
  <input type="checkbox" name="{{ tag.id }}" id="{{ tag.name }}" />
  {% endfor %}
  <a href="/users/{{user.id}}" class="btn btn-outline-success">Cancel</a>
  <button type="submit">Add</button>
</form>
{% endblock %}
